.joke-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2ECE5;
    border: 2px solid #5B5B5B;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
    min-width: 300px;
  }
  
  .joke-setup {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .joke-punchline {
    font-size: 18px;
    font-style: italic;
  }
  