.container {
    display: flex;
    border: solid blue 1px;
    padding: 10px;
  }
  .input-forms {
    flex: 1;
    border: solid green 1px;
    padding: 10px;
  }
  .content {
    flex: 1;
    text-align: left;
    border: solid firebrick 1px;
    padding: 10px;
  }
  .content-image {
    text-align: right;
  }
  .avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 5%;
  }
  
  .counter-div{
    width: 200px;
    height: 200px;
    text-align: center;
    border: solid firebrick 1px;
    }